@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&family=Poppins:wght@500;600&display=swap');

@import url('./variables.css');
@import url('./scrollbar.css');
@import url('./general.css');

@import url('./components/all.css');
