@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&family=Poppins:wght@500;600&display=swap');

@import url('./base/variables.css');
@import url('./base/general.css');

@import url('./components/header.css');
@import url('./components/welcome.css');
@import url('./components/portfolio.css');
@import url('./components/partners.css');
@import url('./components/products.css');
@import url('./components/specifications.css');
@import url('./components/team.css');
@import url('./components/footer.css');
