:root {
  scroll-behavior: smooth;

  --color-white: #ffffff;
  --color-black: #000000;
  --color-dark: #161c28;
  --box-shadow-color: #2f396726;
  --color-primary: #54bd95;
  --color-primary-hover: #459c7a;
  --color-gray: #353535;
  --color-gray-light: #666666;
  --color-bg: #f9f8fe;

  --font-family-primary: 'Inter', sans-serif;
  --font-family-secondary: 'Poppins', sans-serif;

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-black: 900;

  --line-height-tight: 1.2;
  --line-height-normal: 1.6;
  --line-height-loose: 1.9;

  --section-padding-sm: 60px;
  --section-padding-md: 80px;
  --section-padding-lg: 110px;
  --section-padding-xl: 120px;

  --box-shadow: 0px 0px 25px 0px var(--box-shadow-color);

  --transition: 0.3s;

  --blur-strong: blur(500px);
  --scale-hover: 1.03;
  --scale-icon: 1.1;
}
