@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&family=Poppins:wght@500;600&display=swap');

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #f9f8fe;
}

h2 {
  font-weight: 600;
  font-size: 48px;
}

/* General */

.container {
  width: 80%;
  margin: 0 auto;
}

.link {
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #353535;
  cursor: pointer;
  transition: all 0.3s;
}

.link:hover {
  color: #54bd95;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 24px;
  min-width: 126px;
  color: #ffffff;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 16px;
  background: #54bd95;
  border-radius: 40px;
  border: none;
  cursor: pointer;
  transition: all 0.2s;
}

.btn:hover {
  opacity: 0.9;
}

.btn:active {
  filter: brightness(0.9);
}

/* Header */

.header {
  padding: 22px 26px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header__nav-list {
  display: flex;
  list-style: none;
  gap: 32px;
  width: 540px;
}

.header__nav-link--active {
  color: #54bd95;
  cursor: default;
  pointer-events: none;
}

.header__nav-link--active:hover {
  opacity: 1;
}

.header__btns-wrapper {
  display: flex;
  align-items: center;
  margin-left: 200px;
}

.header__signup {
  font-size: 14px;
  text-decoration: none;
  margin-left: 32px;
}

/* Welcome Se—Åtion */

.welcome {
  padding: 110px 0;
}

.welcome .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.welcome__desc {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 460px;
  height: 462px;
}

.welcome__title {
  font-weight: 900;
  font-size: 70px;
  text-transform: uppercase;
  color: #191a15;
  margin-bottom: 16px;
}

.welcome__title::before {
  content: '';
  position: absolute;
  width: 400px;
  height: 400px;
  left: -207px;
  top: 34px;
  border-radius: 100%;
  background: #59a286;
  z-index: -5;
  filter: blur(1000px);
}

.welcome__text {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  margin-bottom: 40px;
}

.welcome_btn {
  text-decoration: none;
  padding: 16px 24px;
}

.welcome__composition {
  position: relative;
  width: 400px;
  height: 520px;
  border-radius: 10px;
  background-image: url('./assets/welcome/lamp.jpg');
}

.welcome__composition::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 350px;
  height: 350px;
  border-radius: 100%;
  background: #54be96;
  filter: blur(1000px);
  z-index: -1;
}

.welcome__composition-cactus {
  position: absolute;
  top: 230px;
  left: 345px;
}

.welcome__composition-cup {
  position: absolute;
  top: 470px;
  left: 80px;
}

.welcome__composition-graph {
  position: absolute;
  top: 90px;
  left: 375px;
}

.welcome__composition-lightning {
  position: absolute;
  top: 150px;
  left: -50px;
}

.welcome__composition-rocket {
  position: absolute;
  top: 490px;
  left: 320px;
}

/* Portfolio section */

.portfolio {
  padding: 120px 0;
  background-color: #ffffff;
}

.portfolio .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.portfolio__desc {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 504px;
}

.portfolio__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #000000;
}

.portfolio__link {
  padding: 4px 0;
  font-weight: 600;
  border-bottom: 1px solid #353535;
}

.portfolio__link:hover {
  border-bottom: 1px solid #59a286;
}

.portfolio__img {
  max-width: 543px;
  height: 424px;
  border-radius: 6px;
}

/* Partners section */

.partners {
  padding: 120px 0;
}

.partners .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.partners__content {
  display: flex;
  flex-direction: column;
  gap: 80px;
  max-width: 540px;
}

.partners__title {
  margin-bottom: 16px;
}

.partners__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: #979797;
}

.partners__rating-wrapper {
  display: flex;
  gap: 80px;
}

.partners__rating-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 18px;
}

.partners__star-icon {
  width: 25px;
  height: 25px;
  object-fit: cover;
}

.partners__rating-score {
  font-weight: 500;
  font-size: 18px;
  color: #191a15;
}

.partners__rating-desc {
  font-weight: 500;
  font-size: 18px;
  color: #979797;
}

.partners__stats-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  list-style: none;
  max-width: 540px;
}

.partners__stats-item {
  display: flex;
  gap: 20px;
}

.partners__stats-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 60px;
  height: 60px;
  background: #ffffff;
  box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
}

.partners__stats-icon {
  width: 30px;
  height: 30px;
}

.partners__stats-stat {
  font-weight: 700;
  font-size: 24px;
  color: #191a15;
  margin-bottom: 15px;
}

.partners__stats-desc {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #979797;
}

/* Products Section */

.products {
  background-color: #ffffff;
  padding: 120px 0;
}

.products__title {
  margin-bottom: 40px;
}

.products__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 40px;
  grid-row-gap: 40px;
}

.products__analytics {
  grid-area: 1 / 1 / 3 / 2;
}

.products__print {
  grid-area: 1 / 2 / 2 / 3;
}

.products__studio {
  grid-area: 2 / 2 / 3 / 3;
}

.products__marketing {
  grid-area: 3 / 1 / 4 / 2;
}

.products__digital {
  grid-area: 4 / 1 / 5 / 2;
}

.products__event {
  grid-area: 3 / 2 / 5 / 3;
}

.products__img {
  margin-bottom: 16px;
  box-shadow: 0px 0px 25px 0px #2f396726;
}

.products__name {
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 16px;
}

.products__count {
  font-weight: 400;
  font-size: 16px;
  color: #8b8b8b;
}
