@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&family=Poppins:wght@500;600&display=swap');

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #f9f8fe;
}

/* General styles*/

.container {
  width: 1127px;
  margin: 0 auto;
}

.link {
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #353535;
  cursor: pointer;
  transition: all 0.3s;
}

.link:hover {
  color: #54bd95;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 24px;
  min-width: 126px;
  color: #ffffff;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 16px;
  background: #54bd95;
  border-radius: 40px;
  border: none;
  cursor: pointer;
  transition: all 0.2s;
}

.btn:hover {
  opacity: 0.9;
}

.btn:active {
  filter: brightness(0.9);
}

/*Header styles*/

.header {
  padding: 22px 26px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header__nav-list {
  display: flex;
  list-style: none;
  gap: 32px;
  width: 540px;
}

.header__nav-link--active {
  color: #54bd95;
  cursor: default;
  pointer-events: none;
}

.header__nav-link--active:hover {
  opacity: 1;
}

.header__btns-wrapper {
  display: flex;
  align-items: center;
  margin-left: 200px;
}

.header__signup {
  font-size: 14px;
  text-decoration: none;
  margin-left: 32px;
}

/* Welcome Se—Åtion styles*/

.welcome {
  padding: 110px 0;
}

.welcome .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.welcome__desc {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 460px;
  height: 462px;
}

.welcome__title {
  font-weight: 900;
  font-size: 70px;
  text-transform: uppercase;
  color: #191a15;
  margin-bottom: 16px;
}

.welcome__title::before {
  content: '';
  position: absolute;
  width: 400px;
  height: 400px;
  left: -207px;
  top: 34px;
  border-radius: 100%;
  background: #59a286;
  z-index: -5;
  filter: blur(1000px);
}

.welcome__text {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  margin-bottom: 40px;
}

.welcome_btn {
  text-decoration: none;
  padding: 16px 24px;
}

.welcome__composition {
  width: 400px;
  height: 520px;
  border-radius: 10px;
  background-image: url('./assets/welcome/lamp.jpg');
}

.welcome__composition::before {
  content: '';
  position: absolute;
  width: 350px;
  height: 350px;
  top: 273px;
  right: 0;
  border-radius: 100%;
  background: #54be96;
  filter: blur(1000px);
}

.welcome__decor--cactus {
  position: absolute;
  left: 1230px;
  top: 414px;
}

.welcome__decor--cup {
  position: absolute;
  left: 961px;
  top: 670px;
}

.welcome__decor--graph {
  position: absolute;
  left: 1250px;
  top: 246px;
}

.welcome__decor--lightning {
  position: absolute;
  left: 820px;
  top: 325px;
}

.welcome__decor--rocket {
  position: absolute;
  left: 1186px;
  top: 690px;
}
