@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&family=Poppins:wght@500;600&display=swap');

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #f9f8fe;
}

h2 {
  font-weight: 600;
  font-size: 48px;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.link {
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #353535;
  cursor: pointer;
  transition: all 0.3s;
}

.link:hover {
  color: #54bd95;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 24px;
  min-width: 126px;
  color: #ffffff;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 16px;
  background: #54bd95;
  border-radius: 40px;
  border: none;
  cursor: pointer;
  transition: all 0.2s;
}

.btn:hover {
  opacity: 0.9;
}

.btn:active {
  filter: brightness(0.9);
}

.header {
  padding: 22px 26px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header__nav-list {
  display: flex;
  list-style: none;
  gap: 32px;
  width: 540px;
}

.header__nav-link--active {
  color: #54bd95;
  cursor: default;
  pointer-events: none;
}

.header__btns-wrapper {
  display: flex;
  align-items: center;
  margin-left: 200px;
}

.header__signup {
  font-size: 14px;
  text-decoration: none;
  margin-left: 32px;
}

.welcome {
  padding: 110px 0;
}

.welcome .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.welcome__desc {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 460px;
  height: 462px;
}

.welcome__title {
  font-weight: 900;
  font-size: 70px;
  text-transform: uppercase;
  color: #191a15;
  margin-bottom: 16px;
}

.welcome__title::before {
  content: '';
  position: absolute;
  width: 400px;
  height: 400px;
  left: -207px;
  top: 34px;
  border-radius: 100%;
  background: #59a286;
  z-index: -5;
  filter: blur(1000px);
}

.welcome__text {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  margin-bottom: 40px;
}

.welcome__btn {
  text-decoration: none;
  padding: 16px 24px;
}

.welcome__composition {
  position: relative;
  width: 400px;
  height: 520px;
  border-radius: 10px;
  background-image: url('./assets/welcome/lamp.jpg');
}

.welcome__composition::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 350px;
  height: 350px;
  border-radius: 100%;
  background: #54be96;
  filter: blur(1000px);
  z-index: -1;
}

.welcome__composition-cactus {
  position: absolute;
  top: 230px;
  left: 345px;
}

.welcome__composition-cup {
  position: absolute;
  top: 470px;
  left: 80px;
}

.welcome__composition-graph {
  position: absolute;
  top: 90px;
  left: 375px;
}

.welcome__composition-lightning {
  position: absolute;
  top: 150px;
  left: -50px;
}

.welcome__composition-rocket {
  position: absolute;
  top: 490px;
  left: 320px;
}

.portfolio {
  padding: 120px 0;
  background-color: #ffffff;
}

.portfolio .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.portfolio__desc {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 504px;
}

.portfolio__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #000000;
}

.portfolio__link {
  padding: 4px 0;
  font-weight: 600;
  border-bottom: 1px solid #353535;
}

.portfolio__link:hover {
  border-bottom: 1px solid #59a286;
}

.portfolio__img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 6px;
}

.partners {
  padding: 120px 0;
}

.partners .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.partners__content {
  display: flex;
  flex-direction: column;
  gap: 80px;
  max-width: 540px;
}

.partners__title {
  margin-bottom: 16px;
}

.partners__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: #979797;
}

.partners__rating-wrapper {
  display: flex;
  gap: 80px;
}

.partners__rating-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 18px;
}

.partners__star-icon {
  width: 25px;
  height: 25px;
  object-fit: cover;
}

.partners__rating-score {
  font-weight: 500;
  font-size: 18px;
}

.partners__rating-desc {
  font-weight: 500;
  font-size: 18px;
  color: #979797;
}

.partners__stats-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  list-style: none;
  max-width: 540px;
}

.partners__stats-item {
  display: flex;
  gap: 20px;
}

.partners__stats-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 60px;
  height: 60px;
  background: #ffffff;
  box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
}

.partners__stats-icon {
  width: 30px;
  height: 30px;
}

.partners__stats-stat {
  font-weight: 700;
  font-size: 24px;
  color: #191a15;
  margin-bottom: 15px;
}

.partners__stats-desc {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #979797;
}

.products {
  background-color: #ffffff;
  padding: 120px 0;
}

.products__title {
  margin-bottom: 40px;
}

.products__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 40px;
}

.products__card:nth-child(1) {
  grid-area: 1 / 1 / 3 / 2;
}
.products__card:nth-child(2) {
  grid-area: 1 / 2 / 2 / 3;
}
.products__card:nth-child(3) {
  grid-area: 2 / 2 / 3 / 3;
}
.products__card:nth-child(4) {
  grid-area: 3 / 1 / 4 / 2;
}
.products__card:nth-child(5) {
  grid-area: 4 / 1 / 5 / 2;
}
.products__card:nth-child(6) {
  grid-area: 3 / 2 / 5 / 3;
}

.products__card {
  transition: scale 0.3s ease-in-out;
}

.products__card:hover {
  scale: 1.02;
}

.products__link {
  display: block;
  text-decoration: none;
  color: inherit;
}

.products__img {
  margin-bottom: 16px;
  box-shadow: 0px 0px 25px 0px #2f396726;
}

.products__name {
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 16px;
}

.products__count {
  font-weight: 400;
  font-size: 16px;
  color: #8b8b8b;
}

@media screen and (max-width: 1350px) {
  .products__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .portfolio__img,
  .products__img {
    width: 100%;
  }
}

.specifications {
  padding: 80px 0;
}

.specifications__title {
  margin-bottom: 40px;
}

.specifications__accordion {
  list-style: none;
}

.specifications__accordion-item {
  border-top: 1px solid #353535;
}

.specifications__accordion-header {
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
  cursor: pointer;
}

.specifications__accordion-info {
  display: flex;
  align-items: center;
}

.specifications__accordion-title {
  font-weight: 700;
  font-size: 18px;
  margin-right: 40px;
}

.specifications__accordion-category,
.specifications__accordion-button {
  font-weight: 400;
  font-size: 16px;
}

.specifications__content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-in-out;
}

.specifications__accordion-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 25px;
  margin-bottom: 20px;
  color: #555;
}

.team {
  padding: 80px 0;
  background-color: #ffffff;
}

.team .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.team__content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px;
  width: 100%;
  max-width: 1200px;
  justify-content: center;
}

.team__teammate-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 100%;
  max-width: 350px;
  height: 220px;
  margin: 0 auto;
}

.team__teammate-name {
  font-weight: 700;
  font-size: 16px;
}

.team__teammate-products {
  font-weight: 400;
  font-size: 16px;
  color: #8b8b8b;
}

.team__link {
  text-decoration: none;
  padding: 16px 24px;
}

.footer {
  background-color: #161c28;
  padding: 80px 0;
  color: #ffffff;
}

.footer__title {
  font-size: 48px;
  margin-bottom: 40px;
}

.footer__contacts {
  display: flex;
  gap: 40px;
  align-items: flex-start;
}

.footer__message {
  padding-right: 40px;
  width: 645px;
  border-right: 1px solid #ffffff;
}

.footer__message-title {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 16px;
}

.footer__form-text {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 40px;
}

.footer__form-fields {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  margin-bottom: 32px;
}

.footer__form-group {
  position: relative;
  padding: 20px 0 0;
  width: 100%;
}

.footer__form-field {
  font-family: inherit;
  width: 100%;
  border: none;
  border-bottom: 1px solid #ffffff;
  outline: 0;
  font-size: 17px;
  color: #c9c7c7;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.footer__form-field::placeholder {
  color: transparent;
}

.footer__form-label {
  position: absolute;
  top: 20px;
  left: 0;
  font-size: 16px;
  color: #ffffff;
  pointer-events: none;
  transition: 0.2s;
}

.footer__form-field:focus ~ .footer__form-label,
.footer__form-field:not(:placeholder-shown) ~ .footer__form-label {
  top: 0;
  background: #161c28;
}

.footer__form-field:focus ~ .footer__form-label {
  color: #54bd95;
  font-weight: 700;
}

.footer__form-field:not(:placeholder-shown):not(:focus) ~ .footer__form-label {
  color: #fff;
  font-weight: 400;
}

.footer__form-field:focus {
  padding-bottom: 6px;
  border-width: 2px;
  border-color: #54bd95;
}

.footer__form-textarea {
  resize: none;
  min-height: 80px;
  margin-bottom: 40px;
}

.footer__form-btn {
  padding: 16px 24px;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 16px;
  align-self: flex-end;
  margin-left: auto;
}

.footer__contacts-info {
  display: flex;
  flex-direction: column;
  gap: 70px;
}

.footer__contacts-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer__contacts-title {
  font-weight: 600;
  font-size: 24px;
}

.footer__contacts-text {
  line-height: 19px;
}

.footer__location {
  width: 100%;
  margin: 140px 0;
}

.footer__socials {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer__socials-wrapper {
  display: flex;
}

.footer__socials-title {
  margin-right: 44px;
  font-weight: 600;
  font-size: 32px;
}

.footer__socials-contact {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer__socials-subtitle {
  font-weight: 600;
  font-size: 16px;
  letter-spacing: -0.01em;
  margin-bottom: 24px;
}

.footer__socials-text {
  font-weight: 600;
  font-size: 14px;
  letter-spacing: -0.01em;
}

.footer__socials-info,
.footer__socials-link {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.01em;
  margin-bottom: 24px;
  color: #ffffff;
}

.footer__socials-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 20px;
}

.footer__socials-icons {
  display: flex;
  gap: 12px;
}
