@import url('./header.css');
@import url('./welcome.css');
@import url('./portfolio.css');
@import url('./partners.css');
@import url('./products.css');
@import url('./specifications.css');
@import url('./team.css');
@import url('./footer.css');
